* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 1vh 10vw;
  display: flex;
  flex-direction: column;
  background:black;
 
}



.furima-icon {
  width: 5vw;
  height: 55px;
  margin: 2vw 0vw 0 5vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}








.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
  background-color: black;
  height: 80px;
 
}



.brand-list {
  text-decoration: none;
  color: white;
  font-size: 65px;
  background-color:black;
   margin: 50px;
}

.lists-right {
  display: flex;
  list-style: none;
 justify-content: flex-end;
  background-color:black;
  width:1800px;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: white;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: white;
}

.sign-up {
  text-decoration: none;
  color: white;
}